@model InventoryTrackWeb.Models.ViewModels.ProductViewModels

<div class="modal fade" id="DetailsProduct-@Model.ProductId" aria-labelledby="DetailsProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Detailsss">Detalle del Producto @Model.ProductName</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ProductName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ProductName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Stock)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Stock)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UnitCost)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UnitCost)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UnitCostSale)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UnitCostSale)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Total)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Total)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CostSaleTotal)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CostSaleTotal)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>