@model InventoryTrackWeb.Models.ViewModels.ProductViewModels

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle de @Html.DisplayFor(model => model.ProductName)</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitCostSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitCostSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CostSaleTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CostSaleTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId"> <input type="button" value="Editar" class="btn btn-success active" /></a>
    <a asp-action="List"> <input type="button" value="Regresar" class="btn btn-info active" /></a>
</div>